extends /components/layout/layout


block head
  title Sobre Mí

block append lib
  link(rel="stylesheet", href="styles.css")

block prepend header
  - const pageUrl = '/sobremi'

block prepend content
  .about
    h1 Sobre mí


